<template>
	<section id="home">
		<button 
			v-if="roomNumber === ''" 
			@click="createRoom"
		>CreateRoom</button>
		
		<div v-if="roomNumber !== ''">
			<p class="roomNumber">The room number is {{ roomNumber }}</p>
			<ul class="users">
				<li v-for="colour in users" 
						:key="colour" 
						:class="colour"
						:style="{ 
							height: userHeight - (userPadding * 2) + 'vh',
						 	padding: userPadding + 'vh 0' 
						}"
					>
						<div class="message"
							v-for="(message, messageColour) in messages"
							:style="{ fontSize: fontSize + 'vh' }"
						>
							<span	v-if="messageColour == colour">{{ message }}</span>
						</div>
				</li>
			</ul>
		</div>
	</section>
</template>

<script>
import io from 'socket.io-client';

export default {
	name: "home.vue",
	data () {
    return {
			roomNumber: '',
			users: [],
			socket: io('localhost:3001'),
			messages: {
				red: '',
				green: '',
				blue: '',
				purple: '',
			},
    }
	},
	computed: {
    userHeight: function () {
      return 100 / this.users.length;
		},
		fontSize: function () {
      return 68 / this.users.length;
		},
		userPadding: function () {
      return 10 / this.users.length;
		}
  },
	methods: {
		createRoom() {
			let randomNumber = ""
    	let chars = "abcdefghijklmnopqrstuvwxyz"
    
      for(let i=0; i <= 5; i++ ) {
				randomNumber += chars.charAt(Math.floor(Math.random() * chars.length))
			}
			
			this.socket.emit('CREATE_NEW_ROOM', randomNumber);
			this.roomNumber = randomNumber;
		}
	},
	mounted() {
    this.socket.on('USER_JOINED', (data) => {
			if(this.users.lenght())
				this.users.push(data['colour']);
		}),
		// TODO: FIX USER LEFT!

		// this.socket.on('USER_LEFT', (data) => {
		// 	if (typeof this.users !== 'undefined' && this.users.length > 0) {
		// 		//remove user from users array
		// 		this.users.splice(this.user.indexOf(data['colour']), 1);
		// 	}
		// }),
		this.socket.on('MESSAGE_TO_ALL', (data) => {
			for (let colour in this.messages) {
				// update the message colour
				if(colour == data['colour']) {
					this.messages[data['colour']] = data['message'];
				}		
			}		
		})
	}
}
</script>

<style scoped>

section { overflow: hidden; }
.roomNumber { position: absolute; right: 10px; top: 10px; }
.users { width: 100vw;  padding: 0; margin: 0; overflow: hidden; }
.users li { width: 100vw; margin: 0; display: table; vertical-align: middle; }
.users .message span { opacity: 0.2; }
</style>