<template>
	<section id="mobile" :class="colour" >
		<div v-if="connectedTo === ''">
			<button @click="getRooms">Search for rooms</button>
			<ul id="example-1">
				<li v-for="roomNumber in availableRooms" :key="roomNumber">
					<button 
						@click="joinRoom(roomNumber)">Join room: {{roomNumber}}</button>
				</li>
			</ul>
		</div>
		<div v-if="connectedTo !== ''">
			<p class="roomNumber">{{ connectedTo }}</p>
			<input :value="message" @input="updateMessage">
		</div>
	</section>
</template>

<script>
import io from 'socket.io-client';

export default {
	name: "mobile.vue",
	data () {
    return {
			availableRooms: null,
			connectedTo: '',
			colour: '',
			socket: io('localhost:3001'),
			message: ''
    }
	},
	methods: {
		getRooms() {
			this.socket.emit('GET_AVAILABLE_ROOMS');
		},
		joinRoom(roomNumber) {
			this.connectedTo = roomNumber;
			this.socket.emit('ADD_USER', roomNumber);
		},
		updateMessage(e) {
			this.socket.emit('MESSAGE', { 
				colour: this.colour,
				message: e.target.value
			});
		}
	},
	mounted() {
    this.socket.on('AVAILABLE_ROOMS', (data) => {
			let rooms = data['rooms'];
			let roomKeys = [];
			//check for valid rooms
			for(var key in rooms)	{
				if(key.length <= 6) {
					roomKeys.push(key);
				}
			}
			this.availableRooms = roomKeys;
		}),
		this.socket.on('RETURN_COLOUR', (selectedColour) => {
			this.colour = selectedColour;
		})
	}
}


</script>

<style scoped>
#mobile { height: 100vh; }
.roomNumber { position: absolute; right: 10px; top: 10px; }
</style>