<template>
  <div id="app">
      <router-view></router-view>
  </div>
</template>

<script>
import io from 'socket.io-client';

export default {
  name: 'app',
  data () {
    return {
      socket : io('localhost:3001')
    }
  },
  mounted() {
    // this.socket.on('USER_JOINED', (data) => {
    //   this.$store.commit('connectColour', data.colour);
    // });
    // this.socket.on('USER_LEFT', (data) => {
    //   this.$store.commit('disconnectColour', data.colour);
    // });
  }
}

</script>

<style>
body { margin: 0 auto; background: #34495e; color: #FFF; }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
h1, h2 { font-weight: normal; }
ul { list-style-type: none; padding: 0; }
li { display: inline-block; margin: 0 10px; }
a { color: #42b983; }
p { margin: 0; padding: 0; }
.purple { background: #9b59b6; }
.red { background: #e74c3c; }
.green { background: #2ecc71; }
.blue { background: #3498db; }
</style>
